.desingItemCardParentCon {
    position: relative;
}

/* .desingItemCardParentCon {
    height: 60vh;
} */

.storeName {
    font-size: 15px;
}

.link {
    all: unset;
}

.link:hover {
    all: unset;
    cursor: pointer;
}

.productHeading {
    color: #171f46;
}

.productImageCon {}

.productImage {
    width: 100%;
    height: 25vh;
}

/* .cardDetailsCon {
    height: 35vh;
} */