.loginParentCon {
    background-color: #58243D;
    height: 100vh;
}



.WebHeading {
    color: #58243D;
}

.newUser {
    color: #58243D;
    text-decoration: underline;
    font-weight: bold;
}

.rightArrowImage {
    position: fixed;
    top: 0px;
    left: 0px;
}

.leftArrowImg {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.websiteLogo {}

.loginHeading {
    color: #58243D;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.termsConds {
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .cardConLoginSeller {
        min-height: 60vh;
        width: 80%;
    }

    .rightArrowImage {
        z-index: -1;
    }

    .leftArrowImg {
        z-index: -1;
    }
}

@media screen and (min-width:768px) {
    .cardConLoginSeller {
        min-height: 65vh;
        width: 30%;
    }
}