.navbarCon {
    width: 90%
}

.activeTab {
    height: 100%;
    align-self: stretch;
}

.navParentCon {
    background-color: #171f46;
    height: 11vh;
}

.websiteNativeColor {
    color: #FF5454;
}

.websiteNativeBgColor {
    background-color: #FF5454;
}

.navItem {
    width: 10vw;
    text-align: center;
}

.navLink {
    all: unset;
}

.navLink:hover {
    all: unset;
    cursor: pointer;
}

.button {
    all: unset
}

.button:hover {
    all: unset;
    cursor: pointer;
}

.logoutCon {
    height: 40vh;
    width: 60vh;
    padding: 16px;
}